<%= render 'layouts/header' %>
<%= render "layouts/blue", :title=> "Portfolio Performance"%>
<div class="container">
  <h1 id="load">Loading Data...</h1>
  <div id="container" style="height: 400px; min-width: 310px"></div>
</div>

<script charset="utf-8">
  $(function() {
  var seriesOptions = [],
    yAxisOptions = [],
    seriesCounter = 0,
    comparisons = [{ticker: "portfolio_data", title: "Portfolio"}, {ticker: "dia", title:"Dow Jones Industrial Average"}, {ticker: "ixic", title:"Nasdaq"}]
    colors = Highcharts.getOptions().colors;

    $.each(comparisons, function(i, index) {
      console.log(index.ticker);
      $.getJSON('/stocks/' + index.ticker ,	function(data) {
        seriesOptions[i] = {
          name: index.title,
          data: data["quote"]
        };

        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        seriesCounter++;

        if (seriesCounter == comparisons.length) {
          console.log("charts");
          createChart();
        }
      });
    });

  // create the chart when all data is loaded
  function createChart() {
    $("#load").remove();
    $('#container').highcharts('StockChart', {

        rangeSelector: {
        inputEnabled: $('#container').width() > 480,
            selected: 4
        },

        yAxis: {
          labels: {
            formatter: function() {
              return (this.value > 0 ? '+' : '') + this.value + '%';
            }
          },
          plotLines: [{
            value: 0,
            width: 2,
            color: 'silver'
          }]
        },

        plotOptions: {
          series: {
            compare: 'percent'
          }
        },

        tooltip: {
          pointFormat: '<span style="color:{series.color}">{series.name}</span>: {point.change}%<br/>',
          valueDecimals: 2
        },

        series: seriesOptions
    });
  }

});
</script>
