<div class="col-lg-4">

  <h4>Related</h4>
  <div class="hline"></div>
    <p>
      <%= link_to "Mission", mission_path %>
    <p>
      <%= link_to "History", history_path %>
    </p>
    <p>
      <%= link_to "Investment Philosophy", investment_philosophy_path %>
    </p>
    <p>
      <%= link_to "Current Management", history_path %>
    </p>
    <p><a href="#"><i class="fa fa-angle-right"></i> Alumni</a></p>
    <p><a href="#"><i class="fa fa-angle-right"></i> Join Us</a></p>
</div>
