<%= render 'layouts/header' %>
<%= render 'layouts/blue', :title=>"About" %>
  <!-- *****************************************************************************************************************
   BLOG CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
     <div class="row">

       <! -- SINGLE POST -->
       <div class="col-lg-8">
         <! -- Blog Post 1 -->
         <a href="single-post.html"><h3 class="ctitle">Investment Philosophy</h3></a>
         <p>
          Sagehen Capital Management is lucky to have at its disposal hard-working, intelligent, and enthusiastic investment analysts, many of whom go on to invest professionally after their time with SCM.
        </p>
        <p>
          Due to this wealth of resources, Sagehen Capital Management is well placed within the market to take advantage of fundamental analysis of small-cap stocks. Most large institutional investors have mandatory minimums for their investments, which can make many interesting value investments infeasible.
        </p>
        <p>
          Furthermore, as college students with diverse backgrounds and academic interests, we attempt to identify insights that are unique to our perspective. These insights have led us in the past to observe profitable macro trends in fashion, food, and even electric vehicles.
        </p>
        <p>
          <b>Our Management Structure</b>
          <img class="img-responsive" src="/assets/SCM-order.png">
        </p>
        <p>
          <b>Our Investment Process:</b>
        </p>
        <p>
          Investment proposal's flow out of three investment groups:
          <ul style="margin-left: 30px;">
            <li>Global Macro</li>
            <li>Equities</li>
            <li>Market Neutral</li>
          </ul>
        </p>
        <p>
          Each group has a Director and a Vice-President, both of whom have at least one year of experience working within the group and have demonstrated a deep understanding of the group’s goals and objectives as well as exceptional leadership qualiti
        </p>
        <p>
          Once an analyst’s investment thesis has been formalized into a presentation within the group, the analyst then presents the thesis before the general assembly each weekend. These presentations are then voted up or down by a majority of analysts and leaders present at the meeting.
        </p>
        <p>
          Our C-level suite (Chief Executive Officer, Chief Operating Officer, and Chief Investment Officer) is responsible for maintaining relationships between donors, alumni, and current students, organizing activities that foster pre-professional development, and supporting as well as critiquing analyst investment theses.
        </p>
      </div><! --/col-lg-8 -->

       <%= render 'about/sidebar' %>

     </div>
   </div>
