<%= render 'layouts/header' %>
<%= render 'layouts/blue', :title=>"About" %>
	<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">

	 		<! -- SINGLE POST -->
	 		<div class="col-lg-8">
	 			<! -- Blog Post 1 -->
		 		<p><img class="img-responsive" src="/assets/graduation-banner.jpg"></p>
		 		<a href="single-post.html"><h3 class="ctitle">Our Mission</h3></a>
		 	  <p>
		 	    Every object that is touched by man, and every action taken by man, is <b>financed somehow by somebody</b>.  Understanding how and why things are financed therefore goes a very long way towards understanding how and why the world works the way it does – a pursuit consistent with the goals of a liberal arts education.
		 	  </p>
		 		<p>
		 		  In that spirit, the primary mission of Sagehen Capital is to promote an understanding of the role of finance in shaping our world, specifically by
		 		</p>
        <p>
          <ol style="margin-left: 30px;">
            <li>Enabling students to supplement their academic understanding of finance with some memorable and useful field observations</li>
            <li>Generating donations to supplement the Pomona College Economic Department’s budget for finance related activities</li>
            <li>Offering students an experience that makes them more attractive candidates to their future employers, business partners, and/or graduate schools, and more likely future donors to Pomona College.</li>
          </ol>
        </p>
			</div><! --/col-lg-8 -->

	 		<%= render 'about/sidebar' %>

	 	</div>
	 </div>
