<%= render 'admin/layouts/header' %>
<div class="container mtb">
  <h1>New Alum</h1>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end %>
  <%= render "admin/alums/form" %>

</div>
